# Docker
docker-compose.override.yml
*.env
!docker-compose.yml
!example.env

# Volumes
data/
nginx_conf/

# System Files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.out

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~

# Node modules
node_modules/

# Python
__pycache__/
*.py[cod]
*$py.class

# Backup files
*.bak
*.tmp
*.temp

# WordPress specific
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-config.php